*.class

#package file
*.war
*.ear

#maven ignore
target/

#eclipse ignore
.setting/
.project
.classpatch

#idea
.idea/
/idea/
*.ipr
*iml
*.iws

#temp file
*.log
*.cache
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db

#vscode
.vscode/
